<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="Manager" class="epam.nadia.spring_core_4.main.task2.entity.factory.PositionFactoryBean" scope="prototype">
        <property name="salary" ref="SalaryForManager"/>
    </bean>

    <bean name="English" class="epam.nadia.spring_core_4.main.task2.entity.Skill">
        <property name="name" value="English"/>
        <property name="level" value="5"/>
    </bean>

    <bean name="SalaryForManager" class="epam.nadia.spring_core_4.main.task2.entity.Salary">
        <property name="salary" value="1000"/>
    </bean>

    <bean name="Director" class="epam.nadia.spring_core_4.main.task2.entity.factory.PositionFactoryBean">
        <property name="salary" ref="SalaryForDirector"/>
    </bean>

    <bean name="SalaryForDirector" class="epam.nadia.spring_core_4.main.task2.entity.Salary">
        <property name="salary" value="10500"/>
    </bean>
</beans>